@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to top right, #C96571D4 0%, #4e7d97 70%);
}

.ant-layout, .ant-layout-footer {
  background-color: transparent;
}

.ant-menu {
  background: linear-gradient(to top, #2E323B 0%, #383E4A 100%) !important;
}

.ant-menu-item:hover, .ant-menu-item-selected {
  background-color: transparent !important;
}

.ant-menu-item:after {
  display:block !important;
  content: '' !important;
  border-bottom: solid 3px white !important;
  transform: scaleX(0);
  transition: transform 750ms ease-in-out !important;
}
.ant-menu-item-selected:after { transform: scaleX(1.15); }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
